.Counter{
    background-color: black;
    display: flex;
    font-size: 150px;
    
    height: 300px;
}

.one{width: 180px;
color:white;
text-align: center;
background-color: rgb(36, 35, 35);
height: 220px;
margin:auto;
border-radius: 30%;
}
